[submodule "Tensorflow2.0-PFLD-"]
	path = Tensorflow2.0-PFLD-
	url = https://github.com/Gager-Git-life/Tensorflow2.0-PFLD-.git
[submodule "SADRNet"]
	path = SADRNet
	url = https://github.com/Gibua/SADRNet.git
[submodule "fast_face_alignment"]
	path = fast_face_alignment
	url = https://github.com/Gibua/fast_face_alignment.git
